.Sidebar{
  width:100%;
  height:100vh;
  background-color: black;
  float:left;
  color:white;
  border-radius: 20px;
}
.Sidebar h1{
    padding-top: 20px;
}
.myul{
  list-style-type: none;
}
.test{
  color:white;
}
.myul li{
  
  padding:10px;
}
.Sidebar ul li{
  display: flex;
}
.abcd{
  border-radius: 10px;
  height: 100px;
  width: 380px;
  margin:20px;
    margin-top: 10px;
    display: flex;
    background-color:;
}
.abcd img{
  padding-left: 100px;
  height:100px;
  width:230px;
  
}
.demo{
  height:100px;
  padding-left: 70px;
  width:220px;
  border-radius: 20px;
}
.demo1{
  padding-left: 100px;
  height: 100px;
  width: 200px;
  
}
.abcd h1{
  font-size:35px;
}
.sample1{
  border-radius: 10px;
  height: 100px;
  width: 380px;
    margin:20px;
    margin-top: 10px;
    display: flex;
  
}
.sample{
  border-radius: 10px;
  height: 100px;
  width: 300px;
    margin:20px;
    margin-top: 10px;
    display: flex;

}

/*Charts Start*/
.parent{
  margin-top:110px;
  width:1000px;
  margin-left: -900px;
  height:500px;
}
.child {
margin-left:0px;
margin-top: 40px;
border:2px solid;
}
body{
  overflow-x: hidden;
  overflow-y: hidden;
  
}
.child1{
 padding-bottom:5px;
}
.child2 img{
  border-radius: 20px;;
  height:280px;
}
 
.one{
  height:300px;
  width:100%;
  border-radius: 10px;
}
.child1 h5{
  padding-left:60px;
  margin-top: 20px;
}
.parent1{
  padding-left:100px;
  margin-bottom: 70px;
}
.parent1 h5{
  margin-top: 30px;
}
.child2 h5{
  margin-top: 20px;
}
/*Charts End*/

/*Flights Start*/
.mycol h2{
  padding-left:50px;
  font-size: 25px;
  }
  .mycol{
    background-color:lavender;
    border-radius: 20px;
  }
  .mycol1{
    background-color:pink;
    border-radius: 20px;
    margin-left:70px;
  }
  .mycol1 h3{
    padding-top: 20px;
  }
  .mycol2 h3{
    padding-top: 20px;
  }
  .mycol2{
    border-radius: 20px;
    background-color:mintcream;
  }
/*Flights End*/  

/*Tables Start*/
      .img1{
        height:60px;
        width:100px;
      }
      .mytab{
        margin-top: 40px;
        width:100%;
      }
      .img2{
        height:60px;
        width:100px;
      }
      .img3{
        height:60px;
        width:100px;
      }
      .img4{
        height:60px;
        width:100px;
      }
      .title{
        margin-left:180px;
      }
      .mybtn{
        margin-top: 20px;
      }
      .img5{
        margin-top: 20px;
        height:300px;
        width:300px;
      }
      /*Tables End*/

      /*Reports Start*/
        .mytab1{
         margin-top: 10px;
         width:60%;
         }
        .col1{
        padding-left: 100px;
        }
        .sample h1{
          font-size:30px;
        }
        .two{
          height:100px;
        }
        .mycard{
          border:2px solid black;
          border-radius: 10px;
        }
       
          .main2{
            display:flex;
            margin:5px;
            justify-content: space-between;
          }
          .myh1{
            display:inline;
            font-size:30px;
          }
          .card{
           
            border-radius:20px;
          }
          .six{
            display:flex;
          }
          .mycard1{
            border:2px solid black;
          border-radius: 10px;
          }
          body{
            background-color:lavender;
          }
          .light-mode {
            background-color: #ffffff;
            color: #000000;
          }
          
          .dark-mode {
            background-color: #000000;
            color: #a39494;
          }
          .icon-button .MuiSvgIcon-root {
            width: 1.5rem; /* Adjust as needed */
            height: 1.5rem; /* Adjust as needed */
          }
         
          
        